*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    display : flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 20px;
}

#tetris{
    background-color: white;
    margin-top: 40px;
    box-shadow: 0 0 10px lightgray;
}
.display {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.button{
    padding: 10px 18px;
    background-color : gray;
    border: 1px solid black;
    color: white;
    border-radius: 4px;
}